.main-screen {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.result-screen {
  text-align: center;
}

.sunny {
  background-image: url("images/clear-weather.jpg");
}

.cloudy {
  background-image: url("images/cloudy-weather.jpg");
}

.rainy {
  background-image: url("images/rainy-weather.jpg");
}

.snowy {
  background-image: url("images/snowy-weather.png.webp");
}

.thunderstorm {
  background-image: url("images/thunderstorm-weather.jpg");
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
